In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn

/Users/petros-pavlosypsilantis/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [4]:
start = "2017-1-1" #datetime(2017, 1, 1)
symbols_list = ['AAPL', 'F', 'TWTR', 'FB', 'AAL', 'AMZN', 'GOOGL', 'GE']

In [10]:
symbols=[]
yf.pdr_override()
#pull price using iex for each symbol in list defined above
for ticker in symbols_list: 
    r = pdr.get_data_yahoo(ticker, start)
    # add a symbol column
    r['Symbol'] = ticker 
    symbols.append(r)
    
df = pd.concat(symbols)
df = df.reset_index()
df = df[['Date', 'Close', 'Symbol']]
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FB: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                       Date      Close Symbol
0 2017-01-03 00:00:00-05:00  29.037500   AAPL
1 2017-01-04 00:00:00-05:00  29.004999   AAPL
2 2017-01-05 00:00:00-05:00  29.152500   AAPL
3 2017-01-06 00:00:00-05:00  29.477501   AAPL
4 2017-01-09 00:00:00-05:00  29.747499   AAPL

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume, Symbol]
Index: []